<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/favicon.png"/>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:orange" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">etot text budet zamenen ili skrit</div>
    <br/>
    <label for="date">Enter date: </label>
    <input type="text" th:field="*{issueDate}" id="date"/>
    <div style="color:orange" th:if="${#fields.hasErrors('issueDate')}" th:errors="*{issueDate}">etot text budet zamenen ili skrit</div>
    <br/>
    <label for="author">Enter author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:orange" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">etot text budet zamenen ili skrit</div>
    <br/>
    <label for="person_id">Enter Person: </label>
    <input type="text" th:field="*{person_name}" id="person_id"/>
    <div style="color:orange" th:if="${#fields.hasErrors('person_id')}" th:errors="*{person_name}">etot text budet zamenen ili skrit</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>