<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="icon" href="/static/favicon.ico" type="image/png">
<meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
Pages:
<a th:href="${'/books?page=' + pN + '&perpage='+ currentBooksPerPage}" th:each="pN : ${pageNumbers}" style="text-decoration: none;" th:text="${pN + ' '}"></a>
</br>
<p>Books per page</p>
<form th:method="GET" th:action="@{/books}">
    <label for="booksperpage"></label>
    <select id="booksperpage" onchange="window.location.href=this.value">
        <option th:value="${'/books?page=' + currentPage + '&perpage=' + 1}" th:text="1" th:selected="${currentBooksPerPage == 1}"></option>
        <option th:value="${'/books?page=' + currentPage + '&perpage=' + 2}" th:text="2" th:selected="${currentBooksPerPage == 2}"></option>
        <option th:value="${'/books?page=' + currentPage + '&perpage=' + 5}" th:text="5" th:selected="${currentBooksPerPage == 5}"></option>
        <option th:value="${'/books?page=' + currentPage + '&perpage=' + 10}" th:text="10" th:selected="${currentBooksPerPage == 10}"></option>
        <option th:value="${'/books?page=' + currentPage + '&perpage=' + 20}" th:text="20" th:selected="${currentBooksPerPage == 20}"></option>
        <option th:value="${'/books?page=' + currentPage + '&perpage=' + 50}" th:text="50" th:selected="${currentBooksPerPage == 50}"></option>
    </select>
</form>
<br/>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}">>></a>
    <span th:text="${book.getAuthor() + ', ' + book.getTitle() + ', ' + book.getIssueDate()}"></span>
</div>
<br/>
<hr/>
<a href="/books/new">Create new book</a>

</body>
</html>