<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<a th:href="@{/books/{id}(id=${book.getId()})}"
   th:text="${book.getTitle() + ', '+ book.getAuthor()+', Person ID:' + book.getPerson_name() +', '+ book.getIssueDate()}">book</a> <br/>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br/>
<form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="Release the book"/>
</form> <br/>
<form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
<p th:text="${assignText}">assignText</p>
    <select id="assign" th:object="${emptyPerson}" th:field="*{id}">
        <option th:each="person : ${peopleToAssign}" th:value="${person.getId()}"
        th:text="${person.getFio()}"></option>
    </select>
    <input type="submit" value="Assign person">
</form>

</body>
</html>