<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<a th:href="@{/books/{id}(id=${book.getId()})}"
   th:text="${book.getTitle() + ', '+ book.getAuthor()+', Person ID:' + book.person_name +', '+ book.getIssueDate()}">book</a> <br/>
<a th:href="@{/people/{id}(id=${booksPerson.getId()})}"
   th:text="${booksPerson.getFio()}">text</a> <br/>
<a th:text="${booksPersonEmpty}">text of empty</a>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>

</form>
</body>
</html>